<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DTSDKName</key>
	<string>iphoneos8.1</string>
	<key>CFBundleName</key>
	<string>${name}</string>
	<key>DTXcode</key>
	<string>0611</string>
	<key>DTSDKBuild</key>
	<string>12B411</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleVersion</key>
	<string>${version}</string>
	<key>BuildMachineOSBuild</key>
	<string>14C109</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>CFBundleShortVersionString</key>
	<string>${version}</string>
	<key>UIMainStoryboardFile</key>
	<string>Storyboard</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>imagegallery</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleIdentifier</key>
	<string>${applicationPackage}</string>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>DTXcodeBuild</key>
	<string>6A2008a</string>
	<key>DTPlatformVersion</key>
	<string>8.1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>${name}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>DTPlatformBuild</key>
	<string>12B411</string>
</dict>
</plist>
